* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
}


/* SECTION 1: HEADER */
header {
    background-color: rgb(240, 240, 240);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header button {
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 132, 255);
    color: white;
    cursor: pointer;
}

/* SECTION 2: MAIN */

main {
    height: auto;
    width: 100vw;
}

main .books {
    padding: 50px;
    display: flex;
    gap: 50px;
}

main .books .book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 200px;
    background-color: rgb(240, 240, 240);
    padding: 20px 30px;
    border-radius: 10px;
    gap: 5px;
    transition: 0.2s;
}

main .books .book button {
    padding: 5px 10px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

main .books .book .delete-button {
    background-color: red;
}

main .books .book .toggle-read-button {
    background-color: rgb(0, 132, 255);
}

/* SECTION 3: MODAL */
dialog {
    margin: auto;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 10px;
}

dialog form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
}

dialog form .input-cell label:first-of-type {
    display: block;
}

dialog form button {
    padding: 5px 10px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 132, 255);
    color: white;
    cursor: pointer;
}